# Ignore All Directories And Files
*
*/

# Execept speific directory
!.config
.config/*
!.config/i3/*

!.script
!.script/*

!background
!background/*


# Execept Specific file
!.gitgnore
!.zshrc
!.xprofile
!.xinitrc
!.nanorc
# !.fehbg